include README.md
include upydev/esp32h.config
include upydev/help.config
include upydev/upyutils_dir/sync_tool.py
include upydev/upyutils_dir/upylog.py
include upydev/upyutils_dir/upynotify.py
include upydev/upyutils_dir/upysecrets.py
include upydev/upyutils_dir/upysh2.py
